<h1>Autos</h1>
<div class="car-list car-list--shiny">
  <% @cars.each do |car| %>
    <div class="car-list__item">
      Id: <%= car.id %>
      Marca: <%= car.brand_name %>
      Modelo: <%= car.car_model_name %>
      Precio: <%= car.price %>
    </div>
  <% end %>
</div>
<p><%= link_to 'Agregar nuevo auto', cars_new_path, class: 'new-car-btn' %></p>
