<% @cars_groups.each_with_index do |cars, index| %>
  <div class="<%= 'alt-bg' if index % 2 == 1 %>">
    <div class="container container--no-bg <%= 'container--no-margin' if index > 0 %>">
      <div class="card-list">
        <% cars.each do |car| %>
          <%= link_to show_from_home_path(car.id), class: "card car-card #{'car-card--highlight' if @highlights.include?(car)}" do  %>
            <div class="car-card__brand"><%= car.brand_name %></div>
            <div class="car-card__model"><%= car.car_model_name %></div>
            <div class="car-card__year"><%= car.year %></div>
            <div class="car-card__description"><%= car.description %></div>
            <div class="car-card__price"><%= number_to_currency(car.price, unit: "$", precision: 0, delimiter: ".") %></div>
            <div class="car-card__fake-link">Ver detalles</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>